body {
    background-color: #fdf4e5;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #C08261, rgba(0, 0, 0, 0));
    margin: 40px 0;
}

header {
    background-color: #d9cab7;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 200px;
    margin-top: 0px;
}

li a {
    text-decoration: none;
    white-space: nowrap;
    font-size: x-large;
    color: #432C23;
    font-weight: 700;
}

a:hover {
    color: #C08261;
    transition: 0.2s;
}

.active {
    color: #432C23;
    border-bottom: solid;

}

img {
    border-radius: 12px;
    max-width: 300px;
    max-height: 300px;
}

.first {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.text1 {
    margin-left: 50px;
    color: #432C23;
}

.p1 {
    color: #6F4E37;
    margin-top: -10px;
    letter-spacing: 1px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-left: 30px;
}

.p2 {
    color: #6F4E37;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;

}

.img_main {
    margin-left: 20px;
    border-radius: 7px;
    max-height: 400px;
    max-width: 400px;

}

.h2_2 {
    color: #432C23;
    text-align: center;
}

.p2_2 {
    color: #6F4E37;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 600;

}

.hero2 {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.product1 {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 350px;
    border: solid 1px;
    margin-left: 15px;
    background-color: #d9cab7;
}

.product2 {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 350px;
    border: solid 1px;
    background-color: #d9cab7;
}

.product3 {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 350px;
    border: solid 1px;
    background-color: #d9cab7;
}

p {
    margin: 5px;
}

h3 {
    margin: 5px;
}

.h2_3 {
    text-align: center;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #432C23;
}

span {
    color: #6F4E37;
}

input {
    background-color: #d9cab7;
    border: 1px solid;
}

input:hover {
    background-color: #cea189;
    transition: 0.2s;
}

.email {
    border-radius: 4px;
    margin-left: 600px;
    border-right: 0;
    height: 20px;
}

.button {
    background-color: #f7e1d6;
    border-radius: 6px;
    border-left: -1;
    margin-left: -10px;
    height: 24px;
}

footer {
    display: flex;
    gap: 80px;
}

.footer {
    margin-left: 15px;
    color: #432C23;
    text-align: center;
    font-weight: 600;
    font-size: large;
}

.menu {
    margin-top: -28px;
}

.h2_4 {
    text-align: center;
    color: #432C23;
}

.ul_2 {
    list-style: none;
    display: flex;
    gap: 25px;
}

li a {
    color: #6F4E37;
} 
h3{
    margin-left: 200px;
    margin-top: 50px;
}
.footer_logo{
    max-height: 25px;
    border-radius: 0px;
}
.footer_logo_2{
    max-height: 25px;
    border-radius: 0px;
}